<ion-content padding class="scroll-content">
  <img class="imgBackGround" src="/assets/dog_inicial.jpg">

  <div class="divRoot">

    <div text-center>
      <label class="title">Encontrar meu pet</label>
    </div>
    <div class="divFields">
      <form [formGroup]="login.formValidator">

        <ion-item style="margin-top: 20px;">
          <ion-label>
            <ion-icon src="../../assets/ic_user.svg"></ion-icon>
          </ion-label>
          <ion-input formControlName="name" placeholder="Nome" type="text" ></ion-input>
        </ion-item>

        <ion-item style="margin-top: 20px;">
          <ion-label>
            <ion-icon src="../../assets/ic_password.svg"></ion-icon>
          </ion-label>
          <ion-input formControlName="password" placeholder="Senha" type="password" ></ion-input>
        </ion-item>

        <ion-button [disabled]="!login.formValidator.valid" id="btRounded" style="margin-top: 50px;" shape="round" (click)="onLoginClicked()">Entrar</ion-button>
      </form>
    </div>
  </div>

</ion-content>