<ion-content >
  <div class="divRoot">
    <h1>
      LOGO
    </h1>
    <div id="divData">
      <div id="divLogin">
        <ion-card id="icLogin">
          <ion-card-header>
            <label class="title">
              {{login.titleCard}}
            </label>
          </ion-card-header>

          <ion-card-content>
            <app-enter *ngIf="login.isLoginVisible"></app-enter>
            <app-register *ngIf="!login.isLoginVisible"></app-register>
          </ion-card-content>
        </ion-card>
        <button id="btLogin">
          {{login.titleCard}}
        </button>
      </div>

      <button id="btChangeToLogin" 
        (click)="changeToLogin()" 
        [style.background-color]="login.isLoginVisible ? '#BF89F4' : 'transparent'"
        [style.color]="login.isLoginVisible ? 'white' : '#CAC3E6'">
        Login
      </button>

      <button id="btChangeToSignUp" 
        (click)="changeToSignUp()"
        [style.background-color]="!login.isLoginVisible ? '#BF89F4' : 'transparent'"
        [style.color]="!login.isLoginVisible ? 'white' : '#CAC3E6'"
      >
        Sign up
      </button>
    
      <img class="ivLeft" 
        src="/assets/left.svg"
        [style.top]="login.isLoginVisible ?  '32.5%' : '44%'"
        >
    
    </div>
  </div>
</ion-content>