<ion-content >
  <div class="divRoot">
    <h1>
      LOGO
    </h1>
    <div id="divData">
      <div id="divLogin">
        <ion-card id="icLogin">
          <ion-card-header>
            <label class="title">
              Login
            </label>
          </ion-card-header>

          <ion-card-content>
            <div class="myForm">
              <label class="email">
                Email
              </label>
              <br>
              <ion-input type="text" value=""></ion-input>
              <br>
              <label class="password">
                Senha
              </label>
              <br>
              <ion-input type="text" value=""></ion-input>
            </div>
          </ion-card-content>
        </ion-card>
        <button id="btLogin">
          Login
        </button>
      </div>

      <button id="btChangeToLogin">
        Login
      </button>

      <button id="btChangeToSignUp">
        Sign up
      </button>
    
      <img class="ivLeft" src="/assets/left.svg">
    
    </div>
  </div>
</ion-content>