<ion-content class="content" center>

  <img class="imgBackGround" src="/assets/img/background_blue2.png">

  <ion-button (click)="goBack()" class="btBack" >
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-button>

  <div text-center class="title">
    <ion-label class="title" [style.visibility]="isEdit ? 'visibility' : 'hidden'">Editar perfil</ion-label>
  </div>

  <ion-avatar class="avatar">
    <img src={{dog.imgUrl}}>
  </ion-avatar>

  <div text-center style="margin-top: 10px">
    <ion-label class="name">{{dog.name}}</ion-label>
  </div>

  <ion-card class="card">
    <ion-card-content>
      <form [formGroup]="form">
        <!-- <ion-item no-margin no-padding>
          <ion-label position="floating">Default Input</ion-label>
          <ion-input></ion-input>
        </ion-item> -->

        <!-- <ion-item no-margin no-padding>
            <ion-label position="stacked" class="label" style="margin-top: 4px">Raça</ion-label>
            <ion-input></ion-input>
    </ion-item> -->
        <ion-item no-margin no-padding>
          <div>
            <ion-label floating class="label" style="margin-top: 4px">Raça</ion-label>
            <ion-input ion-item formControlName="breed" class="input" type="text" no-padding no-margin></ion-input>
          </div>
        </ion-item>

        <ion-label class="label" style="color: #a2a4ab; margin-top: 22px">- Informações do desaparecimento</ion-label>
        <br>
        <ion-item no-padding>
          <div>
            <ion-label class="label">Perdido desde o dia</ion-label>
            <ion-input 
                formControlName="disappearanceDate" 
                class="input" 
                type="date" 
                no-padding></ion-input>
        </div>
        </ion-item>

        <ion-item no-padding>
          <div>
              <ion-label class="label">Local</ion-label>
              <ion-input formControlName="local" class="input" type="text" no-padding></ion-input>
          </div>
        </ion-item>

        <ion-label class="label" style="color: #a2a4ab; margin-top: 22px">- Informações para contato</ion-label>

        <br>
        <ion-item no-padding>
          <div>
              <ion-label class="label">Nome</ion-label>
              <ion-input formControlName="name" class="input" type="text" no-padding></ion-input>
          </div>
        </ion-item>

        <ion-item no-padding>
          <div>
              <ion-label class="label">Telefone</ion-label>
              <ion-input formControlName="phoneNumber" class="input" type="number" no-padding></ion-input>
          </div>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>
  <ion-button [style.display]="isEdit ? 'visibility' : 'none'" shape="round" class="btSalvar" (click)="onSaveClicked()">
    Salvar
  </ion-button>

</ion-content>