
.divCenter{
    margin-top: 12px
}

.title{
    margin-top: 36px;
    font-size: 16px;
    position: relative;
    z-index: 5;
    color: white;
}

.label{
    color: #3A7ADB;
    margin-top: 14px;
    font-size: 12px;
    display:inline-block;
}

.input{
    padding: 0px !important;
    margin: 0px !important; 
    
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
 
.card{
    padding: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 5;
    margin: 10px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}

.name{
    font-size: 26px;
    position: relative;
    z-index: 5;
    color: white;
}

.imgBackGround{
    position: absolute;
    width: 100vh;
    height: 250px;
    z-index: 0;
}

.avatar{
    position: relative;
    z-index: 5;
    @extend .center;
    width: 90px;
    height: 90px;
    margin-top: 16px;
    border: 1px solid ;
    border-color: #D6D6D6;
    border-width: 1px;
}

.divCard{
    position: relative;
    z-index: 5;
}

.btSalvar{
    width: 90%;
    @extend .center;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btBack{
    margin-top: 24px;
    position: absolute;
}

