<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset *ngFor="let dog of dogs;" (click)="onDogClicked(dog)" style="margin-top: 10px">
    <div class="divLine">

      <ion-card class="cardList">
        
        <div class="shadowTitle"></div>
        <ion-label class="labelName">
          {{dog.name}}
        </ion-label>
        <ion-label class="labelBreed">
            {{dog.breed}}
        </ion-label>
        <img src={{dog.imgUrl}} class="imgDog">
        <div class='row' >
          <ion-icon src="../../assets/icon/ic_calendar.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon"> {{dog.daysGone}} dias perdido</ion-label>
        </div>
        <div class='row'>
          <ion-icon src="../../assets/icon/ic_local.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon">{{dog.streetLost}}</ion-label>
        </div>
        <div class='row'>
          <ion-icon src="../../assets/icon/ic_distance_between.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon">{{dog.kmsForMe}}Km de voce</ion-label>
        </div>
      </ion-card>
    </div>
  </ion-list>
</ion-content>