<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 10px">
    <div class="divLine">

      <ion-card class="cardList">
        <div class="shadowTitle"></div>
        <ion-label class="labelName">
          Roberto
        </ion-label>
        <ion-label class="labelBreed">
          Pastor alemão
        </ion-label>
        <img src="/assets/img/mock_cao.jpg" class="imgDog">
        <div class='row' >
          <ion-icon src="../../assets/icon/ic_calendar.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon">15 dias perdido</ion-label>
        </div>
        <div class='row'>
          <ion-icon src="../../assets/icon/ic_local.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon">Rua Antonio jures</ion-label>
        </div>
        <div class='row'>
          <ion-icon src="../../assets/icon/ic_distance_between.svg" class="icon"></ion-icon>
          <ion-label class="labelIcon">22km de voce</ion-label>
        </div>

      </ion-card>

    </div>
  </ion-list>
</ion-content>